services:
  app:
    build: .
    restart: always
    depends_on:
      - postgres
    ports:
      - "8081:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/kd1k_db
      - SPRING_DATASOURCE_USERNAME=user_kd1k
      - SPRING_DATASOURCE_PASSWORD=keypass
    networks:
      - kd1k-network

  postgres:
    image: postgres:14-alpine
    restart: always
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=keypass
      - POSTGRES_USER=user_kd1k
      - POSTGRES_DB=kd1k_db
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - kd1k-network

volumes:
  postgres-data:


networks:
  kd1k-network:
    driver: bridge
